[{:itonami.blueprint/social-impact [:worker-safety :product-quality :craft-continuity]
  :itonami.blueprint/domain :manufacturing/sewing-embroidery-workshop-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "7533"
  :itonami.blueprint/name "Sewing and Embroidery Workshop Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :sew-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-7533"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
